*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.title{
   margin-top: 50px;
   color: white;
   font-size: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.title span{
   color: #26ffcb;
   padding-left: 15px;
}
.boxes{
   display: flex;
   height: 180px;
   width: 180px;
   background: rgb(0, 16, 161);
   border: 4px solid #190355;
   border-radius: 12px;
   cursor: pointer;
}
.board{
   height: 600px;
   width: 540px;
   display: flex;
   margin: auto;
}
.boxes img{margin: 50px 50px;}
.title img{width: 60px;margin-left: 20px;}
.reset{
    padding: 20px 70px;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
    /* opacity: 0.6; */
    background-color: white;
    transition: 0.2s linear;
}
.reset:hover{
    /* opacity: 1;
    transform: translateY(-10px); */
    box-shadow: 0 0 10px whitesmoke;
}
.reset:active{
    /* transform: translateY(0); */
    box-shadow: 0 0 25px whitesmoke;
    transition: 0.15s ease-in-out;
}


/* @media(max-width: 480px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .container{
        margin-left: 50px;
        margin: 0 auto;
        transform: scale(0.5);
    }
} */